<div class="card bg-dark text-white">
  <div class="card-header" style="background: rgb(112, 140, 143);"><strong>{{ titulo }} </strong></div>
  <div class="card-body" style="background: rgb(122, 149, 180)">
    <form style="background:  rgb(122, 149, 180);">

      <div class="form-group row">
        <div class="col-sm-6">
          <input type="hidden" class="form-control" [(ngModel)]="cosecha.idcosecha" name="idcosecha">
        </div>
      </div>
      <div class="form-group row">
        <label for="cantidad" class="col-form-label col-sm-2">Cantidad (Kg)</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cosecha.cantidad" name="cantidad">
        </div>
      </div>

      <div class="form-group row">
        <label for="fecha" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" [(ngModel)]="cosecha.fecha" name="fecha">
        </div>
      </div>

      <div class="form-group row">
        <label for="valor" class="col-form-label col-sm-2">Valor</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cosecha.valor" name="valor">
        </div>
      </div>




      <div class="form-group row">
        <label for="cultivo" class="col-form-label col-sm-2">Cultivo</label>
        <div class="col-sm-9">

          <input type="radio" id="pimenton"  value=8  [(ngModel)]="cosecha.cultivo" name="cultivo"> 
           <label for="pimenton">Pimenton</label>

           <input type="radio" id="abichuela" value=9 [(ngModel)]="cosecha.cultivo" name="cultivo">
           <label for="abichuela">Habichuela</label>

            <input type="radio" id="ahuyama" value=10 [(ngModel)]="cosecha.cultivo" name="cultivo">
            <label for="ahuyama">Ahuyama</label>

            <input type="radio" id="pepino" value=11 [(ngModel)]="cosecha.cultivo" name="cultivo">
            <label for="pepino">Pepino</label>

            <input type="radio" id="lulo" value=12 [(ngModel)]="cosecha.cultivo" name="cultivo">
            <label for="lulo">Lulo</label>

         
          
         <!--  <input type="text" class="form-control" [(ngModel)]="cosecha.cultivo" name="cultivo">  -->
        </div>
      </div>


        
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cosecha.idcosecha else elseBlock" >Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>


